@import url(reset.css);
@font-face {
  font-family: 'slick';
  src: url("../fonts/slick/slick.woff"); }
.centerImg, #wrapper main #rightSide .advertise img, #wrapper main #leftSide .record .recordpart1 img {
  display: block;
  width: 92%;
  margin: 10px auto; }

.myHeadline, #wrapper main #rightSide h3, #wrapper main #leftSide #searchResults h3 {
  height: 54px;
  line-height: 54px;
  background-color: #f8fafa;
  color: #4f788a;
  font-size: 18px;
  padding-right: 20px;
  font-weight: bold; }

.buyMe, #wrapper main #rightSide #getOffers, #wrapper main #leftSide .record .recordpart3 button {
  background-color: #00c7d9;
  border-radius: 50px;
  color: white; }

body {
  direction: rtl;
  font-family: slick, Helvetica, sans-serif;
  color: #313d42; }

header {
  width: 100%;
  height: 363px;
  background-image: url("../images/headerBG.png"); }
  header #topbar {
    width: 60%;
    height: 35px;
    padding-top: 18px;
    margin: auto;
    border-radius: 4px; }
    header #topbar #rightTopBar {
      display: flex;
      flex-direction: row;
      float: right; }
      header #topbar #rightTopBar #topLogo {
        background-image: url("../images/logo.png");
        width: 91px;
        height: 36px; }
        header #topbar #rightTopBar #topLogo img {
          width: 36px;
          height: auto;
          position: relative;
          right: 1px; }
      header #topbar #rightTopBar label img {
        position: relative;
        right: 8px; }
      header #topbar #rightTopBar .verticalLine {
        background-image: url("../images/verticalLine.png");
        display: inline-block;
        width: 20px;
        height: 36px;
        position: relative; }
      header #topbar #rightTopBar #insurance {
        border: none;
        height: 35px;
        position: relative;
        bottom: 8px;
        font-size: 19px;
        font-weight: bold;
        -webkit-appearance: none;
        background: transparent url("../images/dropdown3.png") no-repeat left;
        padding-left: 15px;
        padding-right: 5px;
        color: #36445d; }
    header #topbar #leftTopBar {
      display: flex;
      flex-direction: row-reverse;
      float: left; }
      header #topbar #leftTopBar .verticalLine2 {
        background-image: url("../images/verticalLine.png");
        display: inline-block;
        width: 12px;
        height: 36px;
        position: relative; }
      header #topbar #leftTopBar img {
        position: relative;
        right: 2px; }
  header #introduction {
    width: 40%;
    margin: auto;
    text-align: center; }
    header #introduction h1 {
      font-weight: bolder;
      font-size: 46px;
      margin-top: 25px;
      letter-spacing: -1px; }
    header #introduction p {
      font-weight: bold;
      margin-top: 16px;
      font-size: 21px;
      line-height: 1.5; }
    header #introduction img {
      position: relative;
      top: 14px;
      left: 2px;
      margin-left: 15px;
      margin-right: 15px; }
    header #introduction #priceAshaf {
      display: none;
      width: 50%;
      padding: 5px;
      border-radius: 50px;
      color: white;
      background-color: red;
      margin: 30px auto auto;
      font-size: 14px; }

#wrapper {
  width: 100%;
  background-color: #fafcfd;
  color: #608090; }
  #wrapper main {
    width: 60%;
    position: relative;
    top: -40px;
    margin: auto auto -40px;
    display: grid;
    grid-column-gap: 13px;
    grid-template-columns: auto auto auto; }
    #wrapper main #rightCorner {
      background-image: url("../images/corner.png");
      width: 10px;
      height: 10px;
      position: absolute;
      right: -10px;
      top: 30px; }
    #wrapper main #leftCorner {
      background-image: url("../images/corner.png");
      width: 10px;
      height: 10px;
      position: absolute;
      left: -10px;
      top: 30px;
      transform: scaleX(-1); }
    #wrapper main #breadcrumbs {
      background-color: #fafcfd;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 36px;
      display: inline-grid;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-template-columns: auto auto auto auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      #wrapper main #breadcrumbs #lastBread {
        position: relative;
        right: 30px; }
      #wrapper main #breadcrumbs div {
        margin-right: 8px; }
        #wrapper main #breadcrumbs div img {
          position: relative;
          right: 4px; }
      #wrapper main #breadcrumbs p {
        display: inline-block;
        font-size: 40px;
        position: relative;
        bottom: 7px; }
      #wrapper main #breadcrumbs .ptext {
        display: inline-block;
        font-size: 15px;
        width: 100px;
        position: relative;
        bottom: 10px; }
    #wrapper main #rightSide {
      grid-column-start: 1;
      grid-column-end: 2;
      width: 312px; }
      #wrapper main #rightSide form {
        border-radius: 4px; }
        #wrapper main #rightSide form section {
          border-bottom: 1px solid #d9e4ea; }
      #wrapper main #rightSide h4 {
        margin: 12px 25px 16px 20px;
        padding-bottom: 16px;
        line-height: 1.5;
        font-size: 14px;
        border-bottom: 1px solid #d9e4ea; }
      #wrapper main #rightSide #selectArea {
        margin: auto;
        width: 86%;
        padding-bottom: 20px;
        border-bottom: 1px solid #d9e4ea; }
        #wrapper main #rightSide #selectArea select {
          border: 1px solid lightgray;
          border-radius: 4px;
          margin-bottom: 10px;
          width: 100%;
          height: 38px;
          padding: 11px;
          color: #608090;
          position: relative;
          font-size: 14px;
          top: 3px;
          -webkit-appearance: none;
          background: white url("../images/dropdown3.png") no-repeat 12px 15px; }
      #wrapper main #rightSide #questionsArea {
        margin: auto;
        width: 86%; }
        #wrapper main #rightSide #questionsArea .question {
          display: flex;
          flex-direction: row; }
          #wrapper main #rightSide #questionsArea .question p {
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #d9e4ea;
            height: 40px;
            display: flex;
            font-size: 14px;
            width: 70%; }
          #wrapper main #rightSide #questionsArea .question .container {
            width: 40%;
            border-bottom: 1px solid #d9e4ea; }
      #wrapper main #rightSide #getOffers {
        width: 100%;
        height: 44px;
        display: block;
        color: white;
        margin: 15px auto;
        font-weight: bold;
        font-size: 16px;
        border: 0; }
      #wrapper main #rightSide #filterbar {
        background-color: #ffffff;
        border: 1px solid #d9e4ea; }
      #wrapper main #rightSide .advertise {
        margin-top: 15px;
        background-color: white;
        border: 1px solid #d9e4ea;
        border-radius: 4px; }
    #wrapper main #leftSide {
      grid-column-start: 2;
      grid-column-end: 4; }
      #wrapper main #leftSide #searchResults {
        height: 100px;
        margin-bottom: 14px;
        background-color: #ffffff;
        border: 1px solid #d9e4ea;
        color: #4f788a;
        border-radius: 4px; }
        #wrapper main #leftSide #searchResults #resultsFilter {
          padding: 13px 17px 15px 15px;
          border-top: 1px solid #d9e4ea; }
          #wrapper main #leftSide #searchResults #resultsFilter #leftFilter {
            position: relative;
            float: left; }
          #wrapper main #leftSide #searchResults #resultsFilter #leftFilter:before {
            content: '';
            width: 1px;
            height: 18px;
            display: block;
            background-color: lightgray;
            position: absolute;
            top: 3px;
            right: -15px; }
          #wrapper main #leftSide #searchResults #resultsFilter div {
            display: inline-block; }
            #wrapper main #leftSide #searchResults #resultsFilter div form {
              display: inline;
              font-size: 13px;
              letter-spacing: -1; }
              #wrapper main #leftSide #searchResults #resultsFilter div form label select {
                font-size: 13px;
                border: 0;
                -webkit-appearance: none;
                background: transparent url("../images/dropdown3.png") no-repeat left;
                padding-left: 15px;
                padding-right: 5px; }
            #wrapper main #leftSide #searchResults #resultsFilter div span {
              padding-right: 12px;
              margin-right: 12px;
              font-size: 13px;
              position: relative; }
            #wrapper main #leftSide #searchResults #resultsFilter div span:before {
              content: '';
              width: 1px;
              height: 10px;
              display: block;
              background-color: lightgray;
              position: absolute;
              top: 3px;
              right: -5px; }
      #wrapper main #leftSide .record {
        display: flex;
        flex-direction: row;
        height: 143px;
        margin-bottom: 14px;
        border: 1px solid #d9e4ea;
        background-color: white;
        border-radius: 4px; }
        #wrapper main #leftSide .record .recordpart1 {
          flex: 25%; }
          #wrapper main #leftSide .record .recordpart1 img {
            margin-top: 15px;
            margin-right: 15px;
            width: 90%;
            height: auto;
            border: 1px solid #d9e4ea;
            border-radius: 4px; }
        #wrapper main #leftSide .record .recordpart2 {
          flex: 50%;
          margin: 15px; }
          #wrapper main #leftSide .record .recordpart2 h2 {
            font-size: 20px;
            letter-spacing: -1px; }
          #wrapper main #leftSide .record .recordpart2 p {
            font-size: 12px;
            line-height: 1.5;
            padding-top: 12px; }
            #wrapper main #leftSide .record .recordpart2 p span {
              float: left; }
              #wrapper main #leftSide .record .recordpart2 p span img {
                width: 100%;
                height: auto; }
        #wrapper main #leftSide .record .recordpart3 {
          flex: 15%;
          margin: 15px;
          padding-right: 20px;
          position: relative; }
          #wrapper main #leftSide .record .recordpart3 h3 {
            padding-top: 10px;
            font-size: 26px; }
            #wrapper main #leftSide .record .recordpart3 h3 span {
              position: relative;
              left: 5px;
              font-size: 14px; }
          #wrapper main #leftSide .record .recordpart3 p {
            font-size: 12px;
            padding-top: 3px;
            padding-bottom: 15px; }
          #wrapper main #leftSide .record .recordpart3 button {
            position: absolute;
            bottom: 16px;
            left: 3px;
            width: 90%;
            height: 36px;
            font-size: 16px;
            font-weight: bold;
            border: none; }
            #wrapper main #leftSide .record .recordpart3 button img {
              position: relative;
              left: 5px;
              width: 20px;
              height: 15px;
              transform: scaleX(-1);
              filter: invert(100%);
              -webkit-filter: invert(100%); }
        #wrapper main #leftSide .record .recordpart3:before {
          content: '';
          width: 1px;
          height: 100px;
          display: block;
          background-color: lightgray;
          position: absolute;
          right: 1px; }
    #wrapper main #searchPages {
      margin-top: 6px;
      margin-bottom: 321px;
      height: 34px;
      grid-column-start: 3;
      grid-column-end: 4;
      display: flex;
      flex-direction: row-reverse;
      font-family: slick, Helvetica, sans-serif; }
      #wrapper main #searchPages button {
        border: 1px solid lightgray;
        width: 34px;
        height: 34px;
        background-color: #fcfcfc;
        margin-right: 5px;
        font-size: 15px; }

footer {
  display: grid;
  width: 100%;
  height: 286px;
  color: white;
  background-color: #2a394d; }
  footer #pageTree {
    height: 240px;
    background-color: #33455d;
    width: 100%; }
    footer #pageTree #treeContainer {
      display: flex;
      flex-direction: row;
      width: 60%;
      margin: auto; }
      footer #pageTree #treeContainer button {
        border-radius: 15px;
        width: 80%;
        height: 26px;
        border: 0;
        color: #313d42;
        background-color: #eef4f7; }
      footer #pageTree #treeContainer .emailButton {
        border-radius: 15px;
        width: 80%;
        height: 34px;
        border: 0;
        color: #313d42;
        background-color: #eef4f7;
        display: flex;
        flex-direction: row; }
        footer #pageTree #treeContainer .emailButton button {
          background-size: auto;
          background: transparent url("../images/icon-email.png") no-repeat center;
          border: 0;
          width: 15%;
          height: 34px; }
        footer #pageTree #treeContainer .emailButton input {
          background-color: transparent;
          border: 0;
          font-size: 14px;
          line-height: 34px;
          width: 70%; }
      footer #pageTree #treeContainer div {
        height: 115px;
        width: 120px;
        margin-bottom: 50px;
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        color: white; }
        footer #pageTree #treeContainer div img {
          margin-bottom: 10px; }
      footer #pageTree #treeContainer .footer1 {
        width: 22%;
        padding-right: 0; }
      footer #pageTree #treeContainer .footer2 {
        width: 15%;
        border-right: 1px solid aliceblue; }
      footer #pageTree #treeContainer .footer3 {
        width: 15%; }
      footer #pageTree #treeContainer .footer4 {
        width: 15%; }
        footer #pageTree #treeContainer .footer4 a {
          margin-right: 20px;
          filter: invert(100%);
          -webkit-filter: invert(100%); }
        footer #pageTree #treeContainer .footer4 #facebook {
          background-size: auto;
          background: url("../images/icon-facebook.png") no-repeat right;
          filter: invert(100%);
          -webkit-filter: invert(100%); }
        footer #pageTree #treeContainer .footer4 #twiter {
          background-size: auto;
          background: url("../images/icon-twitter.png") no-repeat right;
          filter: invert(100%);
          -webkit-filter: invert(100%); }
        footer #pageTree #treeContainer .footer4 #google {
          background-size: auto;
          background: url("../images/icon-google.png") no-repeat right;
          filter: invert(100%);
          -webkit-filter: invert(100%); }
      footer #pageTree #treeContainer .footer5 {
        width: 33%;
        padding-left: 0;
        border-right: 1px solid aliceblue; }
        footer #pageTree #treeContainer .footer5 p {
          margin-bottom: 15px; }
      footer #pageTree #treeContainer h5 {
        font-weight: bold;
        padding-right: 0; }
      footer #pageTree #treeContainer p {
        margin-bottom: 7px; }
  footer #designedBy {
    width: 60%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 16px; }
    footer #designedBy p {
      height: 46px;
      line-height: 46px;
      display: inline; }

.arrow {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  right: 27px; }

.arrow a {
  display: inline-block;
  border-radius: 50%; }

.arrow a:hover .leftarrow {
  border: 0.1em solid #e74c3c; }

.arrow a:hover .leftarrow:after {
  border-top: 0.1em solid #e74c3c;
  border-right: 0.1em solid #e74c3c; }

.leftarrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 50%;
  margin-top: 5px; }

.leftarrow:after {
  content: '';
  display: inline-block;
  margin-top: 9px;
  margin-left: 0.1em;
  width: 0.4em;
  height: 0.4em;
  border-top: 0.1em solid #333;
  border-right: 0.1em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.container {
  float: left; }

.radio-tile-group {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .radio-tile-group .input-container {
    position: relative;
    height: 34px;
    width: 34px;
    margin: 5px; }
    .radio-tile-group .input-container .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      cursor: pointer; }
    .radio-tile-group .input-container .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #d9e4ea;
      border-radius: 5px;
      padding: 10px;
      transition: transform 300ms ease; }
    .radio-tile-group .input-container .radio-tile-label {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #608090; }
    .radio-tile-group .input-container .radio-button:checked + .radio-tile {
      background-color: #00c7d9;
      border: 2px solid #00c7d9;
      color: white;
      transform: scale(1.1, 1.1); }
      .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
        color: white;
        background-color: #00c7d9; }

@media only screen and (max-width: 1500px) {
  .arrow {
    display: none; }

  #wrapper main {
    width: 80%; }

  header #topbar {
    width: 80%; }

  #treeContainer {
    width: 80% !important; } }
@media only screen and (max-width: 1250px) {
  #wrapper main #breadcrumbs #lastBread {
    right: 0; }
  #wrapper main #leftSide #searchResults #resultsFilter div span {
    display: none; } }
@media only screen and (max-width: 1000px) {
  #wrapper main {
    width: 80%; }

  header {
    height: 220px; }
    header #topbar {
      background-color: white;
      width: 100%;
      position: relative;
      border-radius: 0; }
      header #topbar #leftTopBar {
        display: none; }
      header #topbar form {
        display: none; }
      header #topbar #searchBar {
        display: none; }
      header #topbar #topLogo {
        position: absolute;
        left: 15px;
        top: 10px; }
    header #introduction {
      width: 80%; }
      header #introduction h1 {
        margin: 0;
        font-size: 40px; }
      header #introduction p {
        display: none; }
      header #introduction #priceAshaf {
        display: block; }

  #wrapper main {
    top: 0;
    width: 100%; }
    #wrapper main #breadcrumbs {
      display: none; }
    #wrapper main #leftCorner {
      display: none; }
    #wrapper main #rightCorner {
      display: none; }
    #wrapper main #rightSide {
      display: none; }
    #wrapper main #leftSide {
      grid-column-start: 1;
      grid-column-end: 4;
      min-width: 0; }
      #wrapper main #leftSide #searchResults {
        text-align: center; }
        #wrapper main #leftSide #searchResults div span {
          display: none; }
        #wrapper main #leftSide #searchResults #resultsFilter #leftFilter:before {
          z-index: -100; }
        #wrapper main #leftSide #searchResults .formfilter {
          width: 45%;
          border: 1px solid lightgray;
          padding: 5px;
          position: relative;
          bottom: 5px; }
          #wrapper main #leftSide #searchResults .formfilter form {
            padding: 15px; }
      #wrapper main #leftSide .record .recordpart1 img {
        width: 75%; }
      #wrapper main #leftSide .record .recordpart2 {
        margin-left: 0;
        margin-right: 5px; }
        #wrapper main #leftSide .record .recordpart2 p span {
          width: 55px; }
          #wrapper main #leftSide .record .recordpart2 p span img {
            height: auto;
            float: left; }
      #wrapper main #leftSide .record .recordpart3 h3 {
        font-size: 18px; }
      #wrapper main #leftSide .record .recordpart3 button span {
        display: none; }
    #wrapper main #searchPages {
      margin-top: 22px;
      margin-bottom: 100px;
      grid-column-start: 2;
      grid-column-end: 3; }
  #wrapper p {
    font-size: 10px; }

  footer #pageTree div {
    display: none; }
  footer #pageTree div:last-child {
    display: block;
    text-align: center;
    margin: 50px auto 0;
    border-right: 0 !important;
    width: 100%; }
    footer #pageTree div:last-child button {
      width: 100%; }
  footer #pageTree .footer5 {
    width: 100% !important; }
    footer #pageTree .footer5 label {
      margin: auto; } }
@media only screen and (max-width: 550px) {
  #designedBy p {
    font-size: 10px; }

  #wrapper main #leftSide #searchResults #resultsFilter .formfilter {
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 4px; }
    #wrapper main #leftSide #searchResults #resultsFilter .formfilter form label {
      font-size: 70%; }
    #wrapper main #leftSide #searchResults #resultsFilter .formfilter form select {
      font-size: 100%; }
  #wrapper main #leftSide .record .recordpart1 {
    flex: 50%; }
    #wrapper main #leftSide .record .recordpart1 img {
      width: 80%; }
  #wrapper main #leftSide .record .recordpart2 {
    flex: 30%; }
    #wrapper main #leftSide .record .recordpart2 h2 {
      font-size: 90%; }
    #wrapper main #leftSide .record .recordpart2 .recordpart2text {
      display: none; }
    #wrapper main #leftSide .record .recordpart2 p span {
      float: right; }
  #wrapper main #leftSide .record .recordpart3 {
    flex: 20%; }
    #wrapper main #leftSide .record .recordpart3 h3 {
      margin: 0;
      padding: 0; }
  #wrapper main #leftSide .record .recordpart3:before {
    position: absolute;
    right: -5px; } }

/*# sourceMappingURL=style.css.map */
