
// media queries
@media only screen and (max-width: 1500px) {
  .arrow {
    display: none;
  }

  #wrapper{
    main {
      width: 80%;
    }
  }
  header{
    #topbar{
      width:80%;
    }
  }

  #treeContainer{
    width:80% !important;
  }
}

@media only screen and (max-width: 1250px) {
  #wrapper{
    main{
      #breadcrumbs{
        #lastBread{
          right:0;
        }
      }
      #leftSide{
        #searchResults{
          #resultsFilter{
            div{
              span{
                display:none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1020px) {

  #wrapper{
    main {
      width: 80%;
    }
  }

  header{
    height:284px;

    #topbar{
      background-color: white;
      width:100%;
      position: relative;
      border-radius: 0;
      padding-bottom: 16px;

      #leftTopBar{
        display: none;
      }
      form{
        display: none;
      }
      #searchBar{
        display: none;
      }
      #topLogo{
        position:absolute;
        left:15px;
        top:10px;
      }
    }

    #introduction{
      width: 80%;

      h1{
        margin:0;
        margin-top: 30px;
        font-size: 45px;
      }
      p{
        display: none;
      }
      #priceAshaf{
        display: block;
      }
    }

  }

  #wrapper {
    main {
      top:0;
      width: 100%;

      #breadcrumbs {
        display: none;
      }
      #leftCorner{
        display: none;
      }
      #rightCorner{
        display: none;
      }
      #rightSide{
        display: none;
      }

      #leftSide {
        grid-column-start: 1;
        grid-column-end: 4;
        min-width: 0;

        #searchResults{
          text-align: center;
          height:132px;
          h3{
            font-size: 18px;
            position: relative;
            letter-spacing: 0.5px;
            right: -8px;
            font-weight: bolder;
          }
          div{
            span{
              display: none;
            }
          }

          #resultsFilter{
            padding: 19px 0 15px 15px;
            #leftFilter:before{
              z-index: -100;
            }
          }

          .formfilter{
            width: 40%;
            border: 1px solid lightgray;
            padding: 14px;
            position: relative;
            bottom: 7px;

            form{
              padding: 15px;
            }
          }
        }

        .record{
          .recordpart1{
            img{
              width:75%;
            }
          }
          .recordpart2{
            margin-left:0;
            margin-right:5px;
            p{
              span{
                width:55px;

                img{
                  height: auto;
                  float:left;
                }
              }
            }
          }
        }
        .record{
          .recordpart3{
            h3{
              font-size: 18px;
            }
            button{
              span{
                display:none;
              }
            }
          }
        }
      }

      #searchPages {
        margin-top: 22px;
        margin-bottom: 100px;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
    p{
      font-size: 10px;
    }
  }

  footer{
    #pageTree{
      div{
        display: none;
      }
      div:last-child{
        display: block;
        text-align: center;
        margin: 50px auto 0;
        width:100%;
        button{
          width:100%;
        }
      }
      .footer5:before{
        display: none !important;
      }

      .footer5{
        width:100% !important;
        margin-top: 0 !important;
        label{
          margin: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  #designedBy{
    p{
      font-size: 10px;
    }
  }

  header{
    #introduction {
      h1 {
        margin: 20px 0 0;
        font-size: 40px;
      }
    }
  }
  #wrapper{
    main{
      #leftSide{
        #searchResults{
          #resultsFilter{
            .formfilter{
              padding: 0 0 5px 5px;
              margin: 4px 0 0;
            }
          }
        }
        .record{
          .recordpart1{
            flex: 50%;
            img{
              width:80%;
            }
          }
          .recordpart2{
            flex: 30%;
            h2{
              font-size: 90%;
            }
            .recordpart2text{
              display:none;
            }
            p{
              span{
                float:right;
              }
            }
          }
          .recordpart3{
            flex: 20%;
            h3{
              margin: 0;
              padding: 0;
            }
          }
          .recordpart3:before{
            position:absolute;
            right:-5px;
          }
        }
      }
    }
  }

}
